<h1>Gestión de Sesiones</h1>

<form (ngSubmit)="nuevaSesion.id ? actualizarSesion() : addSesion()">
  <input type="text" [(ngModel)]="nuevaSesion.idMiembro" name="idMiembro" placeholder="ID Miembro" required>
  <input type="text" [(ngModel)]="nuevaSesion.idEntrenador" name="idEntrenador" placeholder="ID Entrenador" required>
  <input type="date" [(ngModel)]="nuevaSesion.fecha" name="fecha" placeholder="Fecha" required>
  <input type="number" [(ngModel)]="nuevaSesion.duracion" name="duracion" placeholder="Duración (min)" required>
  <button type="submit">{{ nuevaSesion.id ? 'Actualizar' : 'Agregar' }} Sesión</button>
</form>

<h2>Lista de Sesiones</h2>
<ul>
  <li *ngFor="let sesion of sesiones">
    ID Miembro: {{ sesion.idMiembro }} - ID Entrenador: {{ sesion.idEntrenador }} - Fecha: {{ sesion.fecha }} - Duración: {{ sesion.duracion }} min
    <button (click)="cargarSesion(sesion)">Modificar</button>
    <button (click)="eliminarSesion(sesion.id)">Eliminar</button>
  </li>
</ul>
